:root{
    --main-color:rgb(60, 174, 250);
}

body{
    font-family: 'Open Sans',sans-serif;
    background-color: #eee;
}
.title{
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.container{
    max-width: 900px;
    margin:  auto;
}
.container div{
    margin: 10px 0;
}
.choose{
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}
.message{
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}
.message span{
    color: #009688;
    font-weight: bold;
}
.message span::before{
    content: '[ ';
}
.message span::after{
    content: ' ]';

}

.start,.restart{
    background-color: #009688;
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
}
.restart{
    display: none;
}
.the_word{
    text-align: center;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    user-select: none;
    
}
.input{
    width: 100%;
    max-width: calc(100% - 32px );
    border: 1px solid var(--main-color);
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: 23px;
    border-radius: 10px;
}
.input:focus{
    outline: none;
}
.upcoming_word{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5;
    column-gap: 12px;
}

.upcoming_word div{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
}
.control{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
}
.control span{
    color: #009688;
    font-weight: bold;
}
.finish{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}

.finish .good{
    color: var(--main-color);
}
.finish .bad{
    color: red;
} 
